.main {
    width: 100%;
    height: 9vh;
    background-color: transparent;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    display: flex;
    position: absolute;
    top: 1;
    z-index: 1;
    color: #fff;
    font-family: 'Marcellus',
        sans-serif;
    transition: all 2s ease-out;


}

.mainShadow {
    width: 100%;
    height: 8vh;
    background-color: rgba(22, 22, 22, 255);
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: 'Marcellus',
        sans-serif;
    transition: all 2s ease-out;
    color: #fff;
}

.left {
    display: flex;
    width: 50%;
}

.right {
    display: flex;
    width: 50%;
    color: #fff;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-family: 'Marcellus',
        sans-serif;
}

.logo {
    cursor: pointer;
}

.activeNavWrapper {
    color: #308C50;
    font-weight: bold;

}

.mainNavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
    font-weight: normal;
    cursor: pointer;
    z-index: 5;

}

.mainNavLinkActive {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    color: #308C50;
}

.mainNavLink:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    color: #8B621C;
}

.menuOpen {
    display: none;
}

@media (max-width: 600px) {
    .right {
        display: none;
        width: 50%;
        color: #123258;
        justify-content: space-evenly;
    }

    .menuOpen {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .logoWrapper {
        display: flex;
    }

    .left {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 5px;
    }

    .logo {
        height: 10px;
        width: 10px;
    }

    .main {
        width: 100%;
        height: 8vh;

        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 10;
        transition: all 10s ease-out;
    }

    .mainShadow {
        width: 100%;
        height: 8vh;
        background-color: rgba(22, 22, 22, 255);
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 10;
        transition: all 1s ease-out;
    }

    .mobileDrawerContainer {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0 0 0 /0.7);
        transition: all 10s ease-out;

    }

    .mobileDrawer {
        display: flex;
        left: 0;
        top: 0;
        width: 75%;
        height: 100vh;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9)15%, rgba(0, 0, 0, 0)),
            url('../../public/asserts/sliderTwo.jpg');
        background-color: #ecf0f3;
        padding: 1px 10px;
        flex-direction: column;
        transition: all 10s ease-out;



    }

    .mobileDrawerClose {
        display: flex;
        left: -100%;
        top: 0;
        border: 1px solid red;


    }

    .mobileDrawerUpper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;


    }


    .mobileMenuList {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 1.5rem;
        align-items: flex-start;
        padding-left: 20%;




    }
}