.container {
    display: flex;
    height: 100vh;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    gap: 3rem;
    color: #262626;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../public/asserts/heraldBackground.jpg');
}

.upperSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.8rem;
}

.upperSectionTitle {
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 2px;

}

.upperSectionParagraph {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
    width: 50%;
    font-weight: lighter;
    font-size: 18px;


}

.lowerSection {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 0.9em;
}

.lowerSectionChildren {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.8rem;
    width: 100%;
}

.lowerSectionTitle {
    font-size: 20px;
}

.lowerSectionParagraph {
    display: flex;
    width: 100%;
    text-align: left;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5;
}

.readMore {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

@media (max-width: 600px) {

    .container {
        display: flex;
        height: max-content;
        padding-top: 15%;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
        gap: 3rem;
        color: #262626;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../public/asserts/heraldBackground.jpg');
    }

    .upperSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.8rem;
    }

    .upperSectionTitle {
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 2px;

    }

    .upperSectionParagraph {
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.6;
        width: 100%;
        font-weight: lighter;
        font-size: 18px;


    }

    .lowerSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    .lowerSectionChildren {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 0.5rem;
        cursor: pointer;
        width: 100%;
    }

    .lowerSectionTitle {
        font-size: 18px;
    }

    .lowerSectionParagraph {
        display: flex;
        width: 100%;
        text-align: left;
        font-weight: lighter;
        font-size: 16px;
        line-height: 1.5;
    }


}