.main {
    width: 100%;
    display: flex;
    margin-top: 0vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5)15%, rgba(0, 0, 0, 0)),
        url('../../public/asserts/sliderOne.jpg');
    animation: breath 10s linear infinite;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Marcellus',
        sans-serif;
    /* transition: all 1s ease-in; */
    background-color: black;
    height: 100vh;
    scroll-snap-align: start;
}

.main1 {
    width: 100%;
    display: flex;
    margin-top: 0vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:
        url('../../public/asserts/sliderTwo.jpg');
    animation: breath 10s linear infinite;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Marcellus',
        sans-serif;
    /* transition: all 1s ease-out; */
    background-color: black;
    height: 100vh;

}



.leftHero {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    transition: all 1s ease-in-out;
}

.leftHeroOriginal {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease;
}

.leftHeroLine {
    display: flex;
    width: 0%;
    border-bottom: 1px solid #fff;

}

.leftHeroTitle {
    display: flex;
    font-size: 90px;
    font-family: 'Marcellus',
        sans-serif;

}

.leftHeroSubTitle {
    display: flex;
    font-size: 45px;
    font-style: italic;
    font-weight: lighter;
    color: #c2800e
}

.leftHeroImage {
    display: flex;


}

.coffeeTypes {
    display: flex;
    gap: 3rem;
    line-height: 1.6rem;
    word-spacing: 0.1rem;

}

.leftHeroCoffeeBeans {
    display: flex;
    align-items: center;
}

.coffeeLineHight {
    line-height: 1;
    word-spacing: 0.2rem;
}

.rightHero {
    width: 40%;


}

.coffeeSpecialization {
    display: flex;
    gap: 4rem;
    line-height: 1.6rem;
}

.leftHeroDescription {
    display: flex;
    text-align: center;
    font-size: 23px;
    font-weight: lighter;

}

.leftHeroMoreDescription {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    font-weight: lighter;
    font-size: 17px;
}

.heroButtons {
    display: flex;
    border: 1px solid #fff;
    padding: 20px 40px;
    margin-top: 2vh;

}

.heroButtons:hover {
    background-color: #bb9c79;
    cursor: pointer;

}

.main2 {
    width: 100%;
    display: flex;
    margin-top: 0vh;

    background-size: contain;
    background-repeat: no-repeat;
    background-image:
        url('../../public/asserts/sliderThree.jpg');
    animation: breath 10s linear infinite;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Marcellus',
        sans-serif;
    /* transition: all 1s ease-in; */
    background-color: black;
    height: 100vh;
    scroll-snap-align: start;
}

@keyframes breath {
    0% {
        background-size: 100% auto;
    }

    50% {
        background-size: 105% auto;
    }

    100% {
        background-size: 100% auto;
    }
}

.heroLeft {
    display: flex;
    width: 50%;
    padding-left: 2%;
    font-family: 'Marcellus',
        sans-serif;
}

.heroDescription {
    display: flex;
    flex-direction: column;
    width: 73%;
    padding-top: 15%;
    gap: 0.5em;
    font-family: 'Marcellus',
        sans-serif;


}

.brownGrain {
    display: flex;
    width: 27%;
    align-items: flex-start;
    padding-top: 15%;


}



.title {
    font-size: 64px;
    font-weight: lighter;
    font-family: 'Marcellus',
        sans-serif;

}

.leftHeroSubTitle {
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    color: #c2800e
}













@media (max-width: 600px) {
    .main1Mobile {
        width: 100%;
        display: flex;
        margin-top: 0vh;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9)15%, rgba(0, 0, 0, 0.6)),
            url('../../public/asserts/sliderTwo.jpg');
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main2Mobile {
        width: 100%;
        display: flex;
        margin-top: 0vh;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9)15%, rgba(0, 0, 0, 0.6)),
            url('../../public/asserts/sliderOne.jpg');
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main3Mobile {
        width: 100%;
        display: flex;
        margin-top: 0vh;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9)15%, rgba(0, 0, 0, 0.5)),
            url('../../public/asserts/sliderThree.jpg');
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .leftHero {
        width: 100%;
        height: max-content;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        justify-content: center;
    }

    .leftHeroTitle {
        display: flex;
        font-size: 35px;
        font-family: 'Marcellus',
            sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .leftHeroDescription {
        display: flex;
        text-align: center;
        font-size: 16px;
        font-weight: normal;

    }

    .leftHeroMoreDescription {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        font-weight: normal;
        font-size: 16px;
    }

    .coffeeLineHight {
        line-height: 2;
        word-spacing: 0.0rem;
        text-align: center;
    }

    @keyframes breath {
        0% {
            background-size: 100% 100vh;
        }

        50% {
            background-size: 105% 100vh;
        }

        100% {
            background-size: auto 100vh;
        }
    }

    .heroButtons {
        display: flex;
        border: 1px solid #fff;
        padding: 20px 40px;
        margin-top: 2vh;

    }
    .heroButtons:hover {
        background-color: #bb9c79;
        cursor: pointer;

    }

}

@media (max-width: 320px) {
    .main1Mobile {
        width: 100%;
        display: flex;
        margin-top: 0vh;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../public/asserts/sliderTwo.jpg');
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .leftHeroTitle {
        display: flex;
        font-size: 30px;
        font-family: 'Roboto',
            sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
}

@media (max-width: 1280px) {
    .leftHeroTitle {
        display: flex;
        font-size: 50px;
        font-family: 'Roboto',
            sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
}