.container {
    display: flex;
    max-block-size: 100vh;
    flex-direction: column;


}



.upperSection {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
        url('../../public/asserts/footer.jpg');
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 0.5rem;


}

.moreDescription {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    font-weight: lighter;
    font-size: 15px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.addressTitle {
    font-size: 25px;
    letter-spacing: 3px;
}

.addressName {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formTitle {
    font-size: 14px;
    letter-spacing: 2px;
}

.inputField {
    padding: 1px 10px;
    width: 100%;
    height: 5vh;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
}

.form {
    display: flex;
    gap: 15px;
}

.formDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.buttonLabel {
    display: flex;
    padding: 1px 10px;
    width: 100%;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.buttonLabel:hover {
    display: flex;
    padding: 1px 10px;
    width: 100%;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #8B621C;
    border: none;
    color: #fff;


}

.lowerSection {
    background-color: rgba(18, 18, 18, 255);
    height: 20vh;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    color: #fff;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.copyright {
    font-size: 18px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.socialIcons {
    cursor: pointer;
}

.socialIcons:hover {
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.socialMedia {
    display: flex;
    gap: 0.9rem;


}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.socialMediaWrapper {
    display: flex;
}

@media (max-width: 600px) {

    .container {
        display: flex;
        height: max-content;
        flex-direction: column;
    }

    .upperSection {
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-image:
            url('../../public/asserts/footer.jpg');
        color: white;
        flex-direction: column;
        align-items: center;
        height: max-content;
        gap: 0.3rem;
        padding-bottom: 5%;
        padding-top: 10vh;
        justify-content: center;

    }

    .moreDescription {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-weight: lighter;
        font-size: 15px;
    }

    .inputField {
        padding: 10px 10px;
        width: 100%;
        height: 9vh;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 14px;
    }

    .buttonLabel {
        display: flex;
        padding: 1px 10px;
        width: 100%;
        width: 100%;
        height: 9vh;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #fff;
        border: none;
    }

    .buttonLabel:hover {
        display: flex;
        padding: 1px 10px;
        width: 100%;
        width: 100%;
        height: 9vh;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #8B621C;
        border: none;
        color: #fff;


    }

    .lowerSection {
        background-color: rgba(18, 18, 18, 255);
        height: max-content;
        flex-direction: column;
        display: flex;
        padding-left: 1%;
        padding-right: 1%;
        align-items: center;
        color: #fff;
        width: 100%;

    }

    .copyright {
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .socialMedia {
        display: flex;



    }
}