@import url('https://fonts.googleapis.com/css?family=Marcellus:400%7COpen+Sans:300,400');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Marcellus',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */