
@import url("https://db.onlinewebfonts.com/c/11a477d3ac9d8fde4dd37b3cfe2c65e2?family=URWBaskervilleW01-Regular");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'baskerville-urw';
  background-color: black;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */