.snapContainer {
  height: 100vh;
  scroll-snap-type: y mandatory;
 
  overflow-y: scroll;
  margin: 0;
 

}

.snapContainerChildren {
  height: 100vh;
  scroll-snap-align: start;
 
  

}

.snapContainerChildren1 {
  scroll-snap-align: start;
  height: 100vh;
  background-color: red;

}

.snapContainerChildren2 {
  scroll-snap-align: start;
  height: 100vh;
  background-color: pink;

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}